@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    color: #474747;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span {
    color: crimson;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: #FFF;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color;
}

.cta:hover {
    color: white;
    background-color: crimson;
}

.brand h1 {
    font-size: 3rem;
    text-transform: capitalize;
    color: #FFF;
}

.brand h1 span {
    color: crimson;
}

/* Start header Section */


/* End header Section */

/* Start Hero Section */

#hero {
    background-image: url(images/hero-bg.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    text-transform: capitalize;
    animation: text_reveal .5s ease forwards;
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
}

#hero h1:nth-child(3) {
    animation: text_reveal_name .5 ease forwards;
    animation-delay: 3s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
}

#hero h1:nth-child(1) span {
    animation-delay: .5s;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
    animation-delay: 2.5s;

}


/* End Hero Section */


/* Start Services Section */


#services .service {
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .service .top {
    width: 500px;
    margin: 0 auto;
}

#services .service .top p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: .05rem;
    text-align: center;
    color: black;
    padding: 0 25px;
}

#services .service .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services .service .bottom .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(images/img-1.png);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#services .service .bottom .service-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .9;
    z-index: -1;
}

#services .service .bottom .service-item .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#services .service .bottom .service-item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .service .bottom .service-item p {
    color:white
}

/* end Services Section */

/* Start Projects Section */

#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .projects .all-projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
}

#projects .projects .all-projects .project-item .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: #FFF;
}

#projects .projects .all-projects .project-item .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
    text-transform: capitalize;
}

#projects .projects .all-projects .project-item .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 7px;
}

#projects .projects .all-projects .project-item .project-info p {
    color: #FFF;
}

#projects .projects .all-projects .project-item .project-img {
    height: 300px;
    flex-basis: 50%;
    overflow: hidden;
    position: relative;
}

#projects .projects .all-projects .project-item .project-img::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .7;
    top: 0;
    left: 0;
}

#projects .projects .all-projects .project-item .project-img img {
    transition: transform .3s ease;
}

#projects .projects .all-projects .project-item .project-img:hover img {
    transform: scale(1.1);
}

/* End Projects Section */


/* Start About Me Section */

#about .about {
    max-width: 1200px;
    flex-direction: column-reverse;
    text-align: center;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .about .col-left {
    width: 250px;
    height: 360px;
}

#about .about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid #FFF;
}

#about .about .col-left .about-img::after {
    content: '';
    position: absolute;
    top: 19px;
    left: -33px;
    border: 7px  solid crimson;
    height: 98%;
    width: 98%;
    z-index: -1;
}

#about .about .col-right {
    width: 100%;
}

#about .about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .about .col-right p {
    margin-bottom: 20px;
}

#about .about .col-right .cta {
    color: #000;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

/* End About Me Section */


/* Start Contact Section */

#contact .contact {
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
}

#contact .contact .section-title {
    margin-bottom: 45px;
}

#contact .contact .contact-items {
    width: 300px;
}

#contact .contact .contact-items .contact-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 18px 0 #0000002c;
    flex-direction: column;
    transition: box-shadow .3s ease;
}

#contact .contact .contact-items .contact-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .contact .contact-items .contact-item .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact .contact-items .contact-item .contact-info h1 {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact .contact-items .contact-item .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}


/* End Contact Section */


/* Start Footer Section */

#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer .footer h2 {
    color: #FFF;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}

#footer .footer .social-icon .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .footer .social-icon .social-item img {
    filter: grayscale(1);
    transition: filter .3s ease;
}

#footer .footer .social-icon .social-item img:hover {
    filter: grayscale(0);
}

#footer .footer p {
    color: #fff;
    font-size: 1.1rem;
}

/* End Footer Section */


/* Start KeyFrames */

@keyframes text_reveal_box {
    
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {

    100% {
        color: #FFF;
    }

}

@keyframes text_reveal_name {

    100% {
        color: crimson;
        font-weight: 500px;
    }

}

/* End KeyFrames */


/* Start Media Query for tablet */

@media only screen and (min-width:768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }

    h1.section-title {
        font-size: 6rem;
    }

    /* Start Hero Section */

    #hero h1 {
        font-size: 7rem;
    }

    /* End Hero Section */


    /* Start Service Section */

    #services .service .bottom .service-item {
        flex-basis: 45%;
        margin: 2.5%;
    }

    /* End Service Section */


    /* Start Projects Section */

    #projects .projects .all-projects .project-item {
        flex-direction: row;
    }

    #projects .projects .all-projects .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }

    #projects .projects .all-projects .project-item {
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #projects .projects .all-projects .project-item .project-info {
        height: 100%;
    }

    #projects .projects .all-projects .project-item .project-img {
        height: 100%;
    }

    /* End Projects Section */

    /* Start About Me */

    #about .about {
        flex-direction: row;
    }

    #about .about .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }

    #about .about .col-left .about-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid crimson;
    }

    #about .about .col-right {
        text-align: left;
        padding: 30px;
    }

    #about .about .col-right h1{
        text-align: left;
    }
    /* End About Me */

    /* Start Contact */

    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }

    #contact .contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    #contact .contact .contact-items .contact-item {
        margin: 10px;
        flex-direction: row;
        padding: 7px;
        height: 150px;
    }

    #contact .contact .contact-items .contact-item .icon {
        height: 100px;
        width: 100px;
    }

    #contact .contact .contact-items .contact-item .icon img {
        object-fit: contain;
    }

    #contact .contact .contact-items .contact-item .contact-info {
        width: 100%;
        text-align: left;
        padding-left: 10px;
    }
    /* End Contact */
}

/* End Media Query for tablet */

/* Start Media Query for Desktop */

@media only screen and (min-width:1200px) {
    #services .service .bottom .service-item {
        flex-basis: 22%;
        margin: 1.5%;
    }
}



/* End Media Query for Desktop */